@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;300;400;500;600;700;800&display=swap');

body {
    font-family: 'Gemunu Libre', sans-serif;

    ::selection {
        color: white;
        background: $primary-color;
    }
}

*, :after, :before {
    box-sizing: border-box;
}