.container {
    margin: 0 auto;
    max-width: 540px;

    @media only screen and (min-width: 992px) {
        max-width: 830px;
    }

    @media only screen and (min-width: 992px) {
        max-width: 830px;
    }

    @media only screen and (min-width: 1200px) {
        max-width: 1080px;
    }
}